
body {
  background-color: #1e1e2f; /* dark blue background */
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
  margin-top: 20px;
  border-radius: 10px
}
